@page
@model ForgotPasswordConfirmation

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Potvrda zaboravljene lozinke";
}

@if (!SignInManager.IsSignedIn(User))
{
    <h1>@ViewData["Title"]</h1>
    <p>
        Pogledajte vaš email da promjenite vašu lozinku.
    </p>
}
