@page
@model LoginWithRecoveryCodeModel

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Verifikacija kodom obnove";
}

@if (!SignInManager.IsSignedIn(User))
{
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>
        Zahtjevali ste da se prijavite sa kodom obnove. Da bi se uspješno logovali na nalog morate unjeti kod obnove.
    </p>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.RecoveryCode"></label>
                    <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Prijavi se</button>
            </form>
        </div>
    </div>

}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
