@page
@model ResetPasswordConfirmationModel

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Reset password confirmation";
}

@if (!SignInManager.IsSignedIn(User))
{
    <h1>@ViewData["Title"]</h1>
    <p>
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </p>
}


