@model OnlineGames.Models.KategorijaIgrica

@{
    ViewData["Title"] = "Obriši igrici kategoriju";
}

<h1>Obriši</h1>

<h3>Da li želite da obrišete?</h3>
<div>
    <h4>Kategorije igrice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategorija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategorija.Naziv)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Igrica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Igrica.Naziv)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="KategorijaIgricaId" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Vrati se nazad</a>
    </form>
</div>
