@model OnlineGames.Models.KategorijaIgrica

@{
    ViewData["Title"] = "Promjeni kategorije";
}

<h1>Promijeni</h1>

<h4>Kategorije igrice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KategorijaIgricaId" />
            <div class="form-group">
                <label asp-for="Igrica" class="control-label"></label>
                <select asp-for="IgricaId" class="form-control" asp-items="ViewBag.IgricaId"></select>
                <span asp-validation-for="IgricaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kategorija" class="control-label"></label>
                <select asp-for="KategorijaId" class="form-control" asp-items="ViewBag.KategorijaId"></select>
                <span asp-validation-for="KategorijaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sačuvaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Vrati se nazad</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
