@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Lični podaci";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Vaš profil sadrži lične podatke kojeste nam dali. Ova stranica vam dozvoljava da skinete il obrišete te podatke.</p>
        <p>
            <strong>Brisanjem ovih podataka, dovešće do trajnog brisanja vašeg profila.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Skini</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Obriši</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}