@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Dvostruka provjera autentičnosti (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>Nemate više kodova za obnovu.</strong>
            <p>Morate <a asp-page="./GenerateRecoveryCodes">generisati novi skup kodova za obnovu</a> prije nego se ulogujete sa kodom.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>Imate još 1 kod za obnovu.</strong>
            <p>Možete <a asp-page="./GenerateRecoveryCodes">generisati novi skup kodova za obnovu</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 4)
    {
        <div class="alert alert-warning">
            <strong>Imate još @Model.RecoveryCodesLeft koda za obnovu.</strong>
            <p>Možete <a asp-page="./GenerateRecoveryCodes">generisati novi skup kodova za obnovu</a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-primary">Zaboravi ovaj pretraživač</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-primary">Isključi 2FA</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Resetujte vaše kodove za obnovu</a>
}

<h5>Aplikacija autentičnosti</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Dodaj aplikaciju autentičnosti</a>
}
else
{
<a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Postavi aplikaciju autentičnosti</a>
<a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Obnovi ključ autentičnosti</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}