@model string

@{
    ViewData["Title"] = "Kreiraj";
}

<h1>Kreiraj ulogu</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">Naziv:</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Kreiraj</button>
</form>

<div>
    <a asp-action="Index">Vrati se nazad</a>
</div>