@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="nav nav-pills nav-sidebar flex-column" >
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">
                <i class="nav-icon fas fa-user-alt"></i>
                <p>
                    Zdravo @User.Identity.Name!
                </p>
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline brand-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Prodavnica", "Igrica", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-white">
                    <i class="nav-icon fas fa-sign-out-alt"></i>
                    <h>Odjavi se</h>
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white"
               asp-area="Identity" asp-page="/Account/Login">
                <i class="fas fa-user"></i>
                <p>Prijava</p>
            </a>
        </li>
    }
</ul>
